@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@400;500&display=swap');

:root{
    --color1: rgba(3, 57, 165, 1); 
    --color2: rgba(3, 172, 191, 1); 
    --color3: rgba(242, 182, 4, 1);
    --color4: rgba(242, 135, 4, 1); 
    --color5: rgba(242, 56, 14, 1); 
}

main .section_title{
    width: 100%;
    height: 20%;
    background-color: var(--color1);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-weight: 600;
}

main .section_form{
    padding: 20px;
    height: calc(100%-20%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .section_form .inputBox{
    width: 100%;
    margin: 20px 0;
}

main .section_form .inputBox input{
    width: calc(20px + 30vmax);
    padding: 10px;
    border: none;
    background-color: #f1efef;
    border-radius: 8px;
}

main .section_form .inputBox button{
    width: 100%;
    padding: 10px;
    background-color: #4158D0;
    border-radius: 8px;
    color: #FFF;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: .4s;
}


main .section_form .inputBox button:hover{
    background-color: #3144a1;
}

@media (max-width: 400px) {
    main .section_form .inputBox input{
        width: 100%;
    }
}

.message{
    width: calc(20px + 30vmax);
    margin-bottom: 20px;
    border-radius: 8px;
    color: #272727;
    font-family: 'Montserrat', sans-serif;  
    opacity: 0;
    font-size: calc(7px + 1vmin);
}

.success{
    background-color: rgb(136, 218, 136);
}

.error{
    background-color: rgba(255, 99, 71, 0.646);
}

.active{
    opacity: 1;
    padding: 20px;
    /* animation: show 4s; */
}

