<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://kit.fontawesome.com/219248cbde.js" crossorigin="anonymous"></script>
    <title>Rules</title>
</head>
<body>
    <main>
        <!-- Cabeçalho -->
        <header>
            <span>
                <i class="fa-sharp fa-solid fa-book"></i>
                <h1>Rules</h1>
            </span>
            <nav>
                <ul>
                    <a href="login.html">
                        <li>Login</li>
                    </a>
                    <a href="">
                        <li>Cadastrar-se</li>
                    </a>
                </ul>
            </nav>
        </header>

        <!-- Apresentação -->
        <section class="presentation">
            <article class="first">
                <div class="text">
                    <h1>Cansado de <span class="one">QUEBRAR</span> a <br>
                    <span class="two">cabeça?</span></h1>
                    <a href="">Experimente a nossa solução!</a>
                </div>

                <div class="square"></div>
                <div class="square-two"></div>
            </article>
            <article class="second">
                <div class="image">
                    <img src="#" alt="">
                </div>
            </article>
        </section>
        <section class="range">
            <div class="wrapper">
                <p>Seja mais</p>
                <div class="words">
                    <span>Eficiente!</span>
                    <span>Prático!</span>
                    <span>Decisivo!</span>
                    <span>Eficaz!</span>
                    <span>Inteligente!</span>
                </div>
            </div>
        </section>
        <section class="about">
            <article class="first">
                <span>Como podemos ajudar <br> Você?</span>
            </article>
            <article class="second">
                <div class="text">
                    <h1>Sobre nós...</h1>
                    <p>No dia a dia de qualuqer professor não é incomum muitos terem dificuldades na validação das notas dos seus alunos, onde em muitas vezes existe a possibilidade de acabar ocorrendo pequenos erros e descuidos. Mas imagine um lugar onde você definir seu método de validação de nota uma única vez totalmente personalizada, desse forma você oconomizaria tempo e poderia se preocuipar com outras coisas, dexe a gente cuidar dessa parte pra você e experimente a nossa solução!</p>
                    <a href="login.html">
                        <button> Entrar</button></a>
                    </button>
                </div>
            </article>
        </section>
        <section class="image-down">
            <img src="../assets/img/school-one.jpg" alt="">
            <img src="../assets/img/school-two.jpg" alt="">
            <img src="../assets/img/school.jpg" alt="">
                    
            <button>
                <a href="login.html">Experimentar</a>
            </button>
        </section>

        <footer>
            <p>&copy; Todos os direitos reservados.</p>
        </footer>
    </main>
</body>
</html>